.sidebar {
    min-height: 100vh;
    position: sticky;
    top: 0;
    padding-top: 20px;

     /* Couleur grise claire */

  }
 
  .content-area {
    padding: 0;
    margin-left: 0 !important;
    transition: all 0.3s;
    margin-bottom: 6%;
    
  }
  
  @media (max-width: 767.98px) {
    
    


    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      width: 80%;
      height: 100%;

    }
  }



