// .profile-pic {
//     width: 120px;
//     height: 120px;
//     object-fit: cover;
//     margin-top:2%;
//   }
  

  // img {
  //   --s: 150px; /* image size */
  //   --b: 6px; /* border thickness */
  //   --c: #ae3ec9; /* border color */
  //   --cb: #e9ecef; /* background color */
  //   --f: 1; /* initial scale */
    
  //   margin-top:20%;

  //   width: var(--s);
  //   aspect-ratio: 1;
  //   padding-top: calc(var(--s)/5);
  //   cursor: pointer;
  //   border-radius: 0 0 999px 999px;
  //   --_g: 50%/calc(100%/var(--f)) 100% no-repeat content-box;
  //   --_o: calc((1/var(--f) - 1)*var(--s)/2 - var(--b));
  //   outline: var(--b) solid var(--c);
  //   outline-offset: var(--_o);
  //   background: 
  //     radial-gradient(
  //       circle closest-side,
  //       var(--cb) calc(99% - var(--b)),var(--c) calc(100% - var(--b)) 99%,#0000
  //      ) var(--_g);
  //   -webkit-mask:
  //     linear-gradient(#000 0 0) no-repeat
  //      50% calc(1px - var(--_o)) / calc(100%/var(--f) - 2*var(--b) - 2px) 50%,
  //     radial-gradient(circle closest-side,#000 99%,#0000) var(--_g);
  //   transform: scale(var(--f));
  //   transition: .5s;
  // }
  
  // img:hover {
  //   --f: 1.4; /* hover scale */
  // }
  

  .nav-link {
    color: #495057;
    border-radius: 0;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 20px;
    
    &.active {
      background-color: #1a237e;
      color: rgb(255, 255, 255);
    }
    
    i {
      margin-right: 10px;
    }
  }
  
  .social-links {
    a {
      color: #6c757d;
      font-size: 1.5rem;
      
      &:hover {
        color: #1a237e;
      }
    }
  }
  


#visuals{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

@media (orientation: landscape) {
  #visuals{
    height: 30vh;
    width: 30vh;
  }
}

@media (orientation: portrait) {
  #visuals{
    height: 30vw;
    width: 30vw;
  }
}